.align{
    text-align: justify;
    
}
*{
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.icon{
    color: rgba(10, 10, 148, 0.495);
}
a:hover{
    color: rgba(10, 10, 148, 0.979);
}
.line{
    line-height: 40px;
}
.navbr{
    backdrop-filter:blur(10px);
    /* z-index: 1;   */
}
.role{
    font-size: 25px;
    /* padding-left: 120px; */
}
.name{
    font-size: 2.5rem;

    background-image: radial-gradient( circle 382px at 50% 50.2%,  rgba(73,76,212,1) 0.1%, rgba(3,1,50,1) 100.2% );
    
color:transparent;
-webkit-background-clip:text;
}
.homecolor{
    font-size: 30px;
    background-image: radial-gradient( circle 382px at 50% 50.2%,  rgba(73,76,212,1) 0.1%, rgba(3,1,50,1) 100.2% );
    
color:transparent;
-webkit-background-clip:text;

}
.abt{
    font-size: 2.5rem;
    text-align: justify;
    
    background-image: radial-gradient( circle 382px at 50% 50.2%,  rgba(73,76,212,1) 0.1%, rgba(3,1,50,1) 100.2% );
    
color:transparent;
-webkit-background-clip:text;

}
.btn{
    background-image:  radial-gradient( circle 382px at 50% 50.2%,  rgba(73,76,212,1) 0.1%, rgba(3,1,50,1) 100.2% );
    ;
}
.c{
   fill:  rgb(39, 42, 194);
    
}